.comparison-image-wrapper {
  display: flex;
  margin: 1rem; /* Adjusted from m-4 for clarity */
  width: 45%; /* Adjusted width to fit within viewport */
  cursor: pointer; /* Change cursor to pointer on hover */
  overflow: hidden;
  border-radius: 0.75em;
  height: 50vh;
}

.comparison-image-wrapper:hover{
  /* add border */
  border: 4px solid #14b8a6;
}


.comparison-twin {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center; /* Center images */
  align-items: center;
}

.image-comparison-content {
  max-height: 90vh; /* Ensure content height is within viewport */
  overflow-y: auto; /* Enable vertical scrolling for content */
  padding: 1rem; /* Add padding for better spacing */
}