/* ImageSelection.css */
.selection-image-wrapper {
  display: flex;
  margin: 1rem; /* Adjusted from m-4 for clarity */
  cursor: pointer; /* Change cursor to pointer on hover */
  overflow: hidden;
  border-radius: 0.75em;
  /* height: 50vh; */
}

.image-and-selection-buttons {
  width: 60vw;
  margin: auto;
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-bottom: 4rem; /* Adjusted to use rem for consistency */
}

.image-selection-content {
  margin: auto;
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}